/* blog post images */

img {
    max-width: 100%;
    height: auto;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* resume */

#resume h1 {
    padding-top: 20px;
}

#resume #portrait {
    float: left;
    max-height: 170px;
    margin-right: 20px;
    border-radius: 5px;
}

#resume .headline {
    font-size: 36px;
}

#resume .quote {
    float: right;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 60%;
    font-size: 16px;
    line-height: 1.5em;
}

#resume .quote cite {
	color: #999999;
	display: block;
	margin-top: 5px;
}

#resume .quote cite:before {
	content: "\2014 \2009";
}

#resume .company {
    font-weight: bold;
    float: left;
}

#resume .period {
    float:right;
    color: #808080;
}

#resume .role {
    font-style: italic;
    color: #808080;
}

#resume .note {
    text-align: center;
    color: #6b6b6b;
    padding: 40px 0 20px;
    font-size: 16px;
}

#resume ul.skills {
    margin: 0px;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

#resume li {
    padding-bottom: 10px;
    padding-top: 10px;
}

#resume .skills li {
    width: 70%;
}

#resume ul.publications,
#resume ul.activities {
    padding-left: 0;
}

#resume .publications li,
#resume .activities li {
    list-style-type: none;
}

#resume  .affiliation-img {
    height: 80px;
    padding: 10px 25px;
}

#resume  #affiliation a:hover {
    border-bottom: none;
}

#privacy .keydata {
    font-style: italic;
    margin: 10px 0 40px;
    display: block;
}

#privacy .fingerprint {
    float: left;
    width: 250px;
    text-align: center;
}

#privacy .fingerprint img{
    width: 200px;
}

#contact .fa {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
  #resume .portrait {
    float: left;
    max-height: 170px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
  }
}
