{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="archive">
	<div id="header">
	{{ if eq .Title "slides" }}
	  <img class="header-image" src="/img/present.jpg" alt="presenting" title="presenting" />
        {{ else }}
	  <img class="header-image" src="/img/discuss.jpg" alt="discussing" title="discussing" />
        {{ end }}
        </div>
	<div class="container">
        {{ if eq .Title "slides" }}
        <h1>Some talks I have given in the past
	<span class="article-rss"><a href="/{{ .Data.Plural }}/{{lower .Title}}/index.xml" title="RSS Feed"><i class="fa fa-rss" aria-hidden="true"></i></a></span>
        </h1>
        {{ else }}
        <h1>{{ .Site.Params.Blog.Headline }}
	{{ if (isset .Data "Singular") }}
        ({{ .Data.Singular }}: {{lower .Title}})
	<span class="article-rss"><a href="/{{ .Data.Plural }}/{{lower .Title}}/index.xml" title="RSS Feed"><i class="fa fa-rss" aria-hidden="true"></i></a></span>
        {{ else }}
	<span class="article-rss"><a href="/index.xml" title="RSS Feed"><i class="fa fa-rss" aria-hidden="true"></i></a></span>
        {{ end }}
        </h1>
        <p class="categories">
	  <a class="label label-success" href="/articles">All</a>
          {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
          <a class="label label-success" href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{humanize $name }}</a>
          {{ end }}
	</p>
        {{ end }}
	{{ if .Site.Params.Social.CommentsProvider }}
	<p><a href="{{ .Site.Params.Social.CommentsProvider }}">Subscribe</a> to my Blog via Diaspora, Mastodon, Friendica or GNU Social. Never miss a article! Reshare, like and discuss it!</p>
	{{ end }}

          <div class="panel panel-default panel-overview">
            <div class="container blogpost">
	    {{ if eq .Title "slides" }}
              <div class="slides-grid">
              {{ range .Data.Pages.ByPublishDate.Reverse }}
                <div class="slides-summary">
                <a href="{{ .RelPermalink }}"><img class="slides-summary-preview" src="{{ .Site.BaseURL }}img/{{ .Params.Image }}"></a>
                <span class="slides-summary-description">{{ .Params.summary }}</span> &ndash; 
                <span class="slides-summary-location">{{ .Params.location }}</span>
                </div>
              {{ end }}
              </div>
            {{ else }}
              {{ range .Data.Pages.ByPublishDate.Reverse }}
		{{ if not (in .Params.tags "slides") }}
                  {{ $.Scratch.Set "moreLable" "Read more..." }}
                  {{ range $index, $value := .Params.categories }}
                    {{ if eq $value "deutsch" }}
                      {{ $.Scratch.Set "moreLable" "Mehr..." }}
                    {{ end }}
                  {{ end }}
                  <div class="blog-summary">
                    <h4><strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></strong></h4>
		    <div class="metadata">Posted on {{ .Date.Format "January 2, 2006" }} - Tagged with {{ range $i, $tag := .Params.tags }}{{ if $i }}, {{ end }}<a href="/tags/{{ lower $tag }}">{{ $tag }}</a>{{ end }}</div>
                    <p>{{ .Summary }} <a href="{{ .RelPermalink }}">{{ $.Scratch.Get "moreLable" }}</a></p>
                  </div>
                {{ end }}
              {{ end }}
            {{ end }}
            </div>
          </div>
      </div>
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
