<div class="social">
  <ul class="social-links">
    {{ if .Site.Params.Social.Email }}
      <li><a href="/contact"  title="Contact"><i class="fa fa-envelope"></i></a></li>
    {{ end }}
    {{ if .Site.Params.Social.Mastodon }}
      <li><a href="{{ .Site.Params.Social.Mastodon }}" title="Mastodon" rel="me"><i class="fa fa-mastodon"></i></a></li>
    {{ end }}
    {{ if .Site.Params.Social.Twitter }}
      <li><a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}" title="Twitter" rel="me"><i class="fa fa-twitter"></i></a></li>
    {{ end }}
    {{ if .Site.Params.Social.LinkedIn }}
      <li><a href="http://linkedin.com/in/{{ .Site.Params.Social.LinkedIn }}" title="LinkedIn" rel="me"><i class="fa fa-linkedin"></i></a></li>
    {{ end }}
    {{ if .Site.Params.Social.Stackoverflow }}
      <li><a href="http://stackoverflow.com/{{ .Site.Params.Social.Stackoverflow }}" title="Stackoverflow" rel="me"><i class="fa fa-stack-overflow"></i></a></li>
    {{ end }}
    {{ if .Site.Params.Social.GNUSocial }}
      <li><a href="{{ .Site.Params.Social.GNUSocial }}" title="GNU Social" rel="me"><i class="fa fa-gnu-social"></i></a></li>
    {{ end }}
    {{ if .Site.Params.Social.Diaspora }}
      <li><a href="{{ .Site.Params.Social.Diaspora }}" title="Diaspora" rel="me"><i class="fa fa-diaspora"></i></a></li>
    {{ end }}
    {{ if .Site.Params.Social.Friendica }}
      <li><a href="{{ .Site.Params.Social.Friendica }}" title="Subscribe to my blog via Friendica and like, share & discuss my articles" rel="me"><i class="fa fa-friendica"></i></a></li>
    {{ end }}
    {{ if .Site.Params.Social.Fediverse }}
      <li><a href="{{ .Site.Params.Social.Fediverse }}" title="Join me in the Fediverse, no matter whether you use Mastodon, Diaspora, Pleroma, Friendica or other ActivityPub-ready social software" rel="me"><i class="fa fediverse"></i></a></li>
    {{ end }}
    {{ if .Site.Params.Social.Git }}
      <li><a href="{{ .Site.Params.Social.Git }}"  title="Git repository" rel="me"><i class="fa fa-git"></i></a></li>
    {{ end }}
    {{ if .Site.Params.Social.Github }}
      <li><a href="https://github.com/{{ .Site.Params.Social.Github }}" title="GitHub" rel="me"><i class="fa fa-github"></i></a></li>
    {{ end }}
    {{ if .Site.Params.Social.OpenHub }}
      <li><a href="{{ .Site.Params.Social.OpenHub }}"  title="My Free Software contributions" rel="me"><i class="fa opensource"></i></a></li>
    {{ end }}
    {{ if .Site.Params.Social.RSS }}
      <li><a href="{{ .Site.Params.Social.RSS }}" title="RSS feed" rel="me"><i class="fa fa-rss"></i></a></li>
    {{ end }}
    {{ if .Site.Params.Social.Calendar }}
      <li><a href="{{ .Site.Params.Social.Calendar }}" title="{{ .Site.Params.Social.CalendarTitle }}" rel="me"><i class="fa fa-calendar"></i></a></li>
    {{ end }}
    <!--
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    {{ if eq $name "slides" }}
    <li><a href="/tags/slides" title="Presentation slides"><i class="fa presentation"></i></a></li>
    {{ end }}
    {{ end }}
    -->
  </ul>
</div>
