{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3><strong>{{ .Site.Params.author }}</strong></h3>
        <div class="summary">
        Active in the <a href="https://fsfe.org/about/basics/freesoftware">Free Software</a> movement for over 20 years.<br>
        <a href="https://fsfe.org">FSFE's</a> coordinator <a href="https.//fsfe.org/de">Germany</a> and member of the General Assembly.<br>
	Co-founder of <a href="https://nextcloud.com">Nextcloud</a>, a strong community and company building a completely Free Software and on-premises content collaboration platform.<br>
        Contact me by <a href="{{ .Site.BaseURL }}contact/">email</a>.<br>
        </div>
        {{ partial "social.html" . }}
        <div id="thought">
          <a href="https://mastodon.social/@bjoern/17848245" title="Latest thought... Click to like, reshare or comment on Mastodon!">
          <blockquote>"What you do makes a difference, and you have to decide what kind of difference you want to make." <cite>Jane Goodall</cite></blockquote></a>
        </div>
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
    {{ partial "local-js" . }}
  </body>
</html>
