{{ partial "head" . }}
  <body>
    <div id="wrap">
	{{ partial "header" . }}
      <section id="contact" class="static-page">
          <div class="container">
	      <h1>Contact</h1>
	      <div class="content">
		  <p>
		      Below you find my Email addresses and other options to get in contact with me. Most of
		      the time I prefer asynchronous communication. Therefore
		      I recommend to send an Email unless it is really time critical.
		  </p>

		  <h2>Email addresses</h2>

		  <p>
		      <i class="fa fa-envelope" aria-hidden="true"></i> <a href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x73;&#x63;&#x68;&#x69;&#x65;&#x73;&#x73;&#x6C;&#x65;&#x40;&#x66;&#x73;&#x66;&#x65;&#x2E;&#x6F;&#x72;&#x67;">&#x73;&#x63;&#x68;&#x69;&#x65;&#x73;&#x73;&#x6C;&#x65;&#x40;&#x66;&#x73;&#x66;&#x65;&#x2E;&#x6F;&#x72;&#x67;</a>, if you want to talk about Free Software and my work at FSFE.
		  </p>
		  <p>
		  <i class="fa fa-envelope" aria-hidden="true"></i> <a href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x62;&#x6A;&#x6F;&#x65;&#x72;&#x6E;&#xA;&#x40;&#x6E;&#x65;&#x78;&#x74;&#x63;&#x6C;&#x6F;&#x75;&#x64;&#x2E;&#x63;&#x6F;&#x6D;">&#x62;&#x6A;&#x6F;&#x65;&#x72;&#x6E;&#x40;&#x6E;&#x65;&#x78;&#x74;&#x63;&#x6C;&#x6F;&#x75;&#x64;&#x2E;&#x63;&#x6F;&#x6D;</a>, if you want to talk about Nextcloud.
		  </p>		  
		  <p>
		      <i class="fa fa-envelope" aria-hidden="true"></i> <a href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x62;&#x6A;&#x6F;&#x65;&#x72;&#x6E;&#x40;&#x73;&#x63;&#x68;&#x69;&#x65;&#x73;&#x73;&#x6C;&#x65;&#x2E;&#x6F;&#x72;&#x67;">&#x62;&#x6A;&#x6F;&#x65;&#x72;&#x6E;&#x40;&#x73;&#x63;&#x68;&#x69;&#x65;&#x73;&#x73;&#x6C;&#x65;&#x2E;&#x6F;&#x72;&#x67;</a>, for everything else.
		  </p>

		  <h2>Real-Time Chat</h2>

		  <p>
		      <i class="fa fa-matrix-org" aria-hidden="true"></i> <a href="&#x68;&#x74;&#x74;&#x70;&#x73;&#x3A;&#x2F;&#x2F;&#x6D;&#x61;&#x74;&#x72;&#x69;&#x78;&#x2E;&#x74;&#x6F;&#x2F;&#x23;&#x2F;&#x40;&#x62;&#x6A;&#x6F;&#x65;&#x72;&#x6E;&#x3A;&#x73;&#x63;&#x68;&#x69;&#x65;&#x73;&#x73;&#x6C;&#x65;&#x2E;&#x6F;&#x72;&#x67;">&#x40;&#x62;&#x6A;&#x6F;&#x65;&#x72;&#x6E;&#x3A;&#x73;&#x63;&#x68;&#x69;&#x65;&#x73;&#x73;&#x6C;&#x65;&#x2E;&#x6F;&#x72;&#x67;</a>, if it is not time critical please consider writing a Email instead.
		  </p>

		  <h3>Related information:</h3>

		  <ul>
		      <li>
			  <a href="{{ .Site.BaseURL }}privacy/">Please read this for private and secure communication</a>
		      </li>
		      <li>
			  <a href="{{ .Site.BaseURL }}attachments/">Please read this if you want to send me an attachment</a>
		      </li>
		  </ul>
		 
		  
	      </div>
          </div>	  
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
