{{ partial "head" . }}
  <body>
    <div id="wrap">
	{{ partial "header" . }}
      <section id="fediverse" class="static-page">
          <div class="container">
	      <h1>Join The Federation</h1>
	      <div class="content">
		  <p>
		      The Federation is a global social network
		      composed of independent nodes. This nodes are
		      servers running a software designed to connect
		      people by using a standardized communication
		      protocol.
		  </p>
		  <p>
		      This global social network foster's freedom,
		      independence and free speech. It is a place
		      where you can follow and talk to people from all
		      over the world without beeing locked up to a
		      single service provider and without any kind
		      of censorship. Together we seize the means of
		      communication, and create real democracy online.
		  </p>
		  <p>
		      There is a huge range of social networks, which
		      you can either install by your own or, if your
		      prefer, join one of the many existing
		      nodes. Some examples are:
		  </p>
		  <ul>
		      <li><a href="https://diasporafoundation.org/">Diaspora</a> (some public server you can <a href="https://podupti.me/">join</a>)</li>
		      <li><a href="http://friendi.ca/">Friendica</a> (some public server you can <a href="http://friendi.ca/find-a-server/">join</a>)</li>
		      <li><a href="https://gnu.io/social/">GNU Social</a> (some public server you can <a href="http://www.fediverse.org/">join</a>)</li>
		      <li><a href="https://joinmastodon.org/">Mastodon</a> (some public server you can <a href="https://instances.mastodon.xyz/">join</a>)</li>
		  </ul>
		  <p>
		      I have a account at many of these networks and
		      link to some of them on the main page. All my blog
		      posts are send to a special <a href="https://soc.schiessle.org/profile/blog/?tab=profile">Friendica account</a>.
		      I have chosen Friendica because it allows users
		      to interact with my blog posts not only with a
		      Friendica account but also with a Diaspora, GNU
		      Social or Mastodon account. Feel free to
		      subscribe to this account if you use on one of
		      these networks. This way you wont miss any of my
		      articles and can directly start discussing with
		      other people.
		  </p>
		  <p>
		      If you are new to the Federation, then this is
		      the perfect time to join me! Just pick
		      one of the public servers on one of these
		      networks and get started.</p>
		  <p>
		      Once you follow me through one of these networks you
		      can discuss my articles and exchange your ideas
		      with a large group of people sharing similiar
		      values.
		  </p>
          </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
