{{ partial "head" . }}
  <body>
    <div id="wrap">
	{{ partial "header" . }}
	<div id="header">
	  <img class="header-image" src="/img/bib.jpg" alt="presenting" title="presenting" />
        </div>
      <section id="resume" class="static-page">
          <div class="container content">

<div class="clear"></div>

<p class="quote">
    <i>What you do makes a difference, and you have to decide what kind of
	difference you want to make.</i><cite>Jane Goodall</cite>
</p>

<div class="clear"></div>

 <h1>Publications</h1>

<ul class="publications">

<li>
    <a href="https://www.linux-magazin.de/ausgaben/2019/10/fsfe-standpunkt/">Herausforderungen für Open-Source-Geschäftsmodelle</a> - Erschienen im Linux-Magazin 10/2019 - Freie Software gibt es seit über 30 Jahren. In dieser Zeit haben sich viele Geschäftsmodelle rund um freie Software herausgebildet und immer wieder verändert. Doch die vielleicht größte Herausforderung steht gerade jetzt an. Neben der Wissenschaft bezieht auch die FSFE dazu Stellung.
</li>

 <li>
 <a href="https://netzpolitik.org/2017/kommentar-die-abkehr-von-freier-und-unabhaengiger-software-in-muenchen-waere-falsch/">Die Abkehr von freier und unabhängiger Software in München wäre falsch</a> - Kommentar auf Netzpolitik.org (2017)
 </li>
 
<li>
    <a href="http://www.medien-in-die-schule.de/werkzeugkaesten/werkzeugkasten-freie-software/">Werkzeugkasten Freie Software</a> - Einführung in die Grundlagen
  Freier Software zusammen mit einer Sammlung von sinnvoller
  Software, mit der Unterricht in einem digitalen Zeitalter
  gestaltet werden kann. Autoren: Volker Grassmuck, Daniel
  Rohde-Kage, Björn Schießle, Stefan Schober, Sebastian Seitz,
  Wolf-Dieter Zimmermann (2016)
</li>

<li>
    <a href="https://netzpolitik.org/2016/software-heritage-erhalt-eines-kulturerbes/">Software Heritage – Erhalt eines Kulturerbes</a> - Gastbeitrag auf Netzpolitik.org (2016)
</li>

<li>
     <a href="https://netzpolitik.org/2015/10-jahre-sony-rootkit-ein-fragwuerdiges-jubilaeum/">10
    Jahre Sony Rootkit – ein fragwürdiges Jubiläum</a> - Gastbeitrag
     auf Netzpolitik.org (2015)
</li>

<li>
   <a href="https://netzpolitik.org/2015/user-data-manifesto-2-0/">User Data
       Manifesto 2.0</a> - Gastbeitrag auf Netzpolitik.org (2015)
</li>

<li>
  Defensive Publication: Cloud file syncing encryption system. Hugo
  Roy and Björn Schießle (2014)
</li>

<li>
  Freie Software – Ein wachsender Faktor in Wirtschaft und
  Gesellschaft. Erschienen im Handbuch der Unternehmensberatung, 2013, Band 2,
  Kennzahl 3410, Erich Schmidt Verlag
</li>

<li>
      <a href="https://fsfe.org/freesoftware/basics/comparison">Free Software,
	  Open Source, FOSS, FLOSS – Same same but different</a> - Article about the differences and history of the various terms used in the Free Software movement.
</li>

<li>
  Creating and using roboearth object models. CRA, pages 3549–3550,
  2012. Daniel Di Marco, Andreas Koch, Oliver Zweigle, Kai Häussermann, Björn
  Schiessle, Paul Levi, Dorian Gálvez-López, Luis Riazuelo, Javier Civera,
  J. M. M. Montiel, Moritz Tenorth, Alexander Clifford Perzylo, Markus Waibel,
  and René van de Molengraft
</li>

<li>
  Server-sided automatic map transformation in roboearth. AMS, pages 203–216,
  2012. Alexander Clifford Perzylo, Björn Schießle, Kai Häussermann, Oliver
  Zweigle, Paul Levi, and Alois Knoll.
</li>

<li>
  RoboEarth - A World Wide Web for Robots. IEEE Robotics and Automation
  Magazine (Special Issue Towards a WWW for Robots), 2011. Accepted - Waibel,
  M., Beetz, M., D’Andrea, R., Janssen, R., Tenorth, M., Civera, J., Elfring,
  J., Galvez-Lopez, D., Häussermann, K., Montiel, J.M.M., Perzylo, A.,
  Schießle, B., Zweigle, O., and van de Molengraft, R. (2011)
</li>

<li>
  Using Situation Analysis Techniques with Bayesian Networks for Recognizing
  Hardware Errors on Mobile Robots - Oliver Zweigle, Kai Häussermann, Björn
  Schiessle and Paul Levi (ICRA 2011)
</li>

</ul>

<h1>Affiliation</h1>

  <p id="affiliation">

  <a href="https://www.fsfe.org"><img class="affiliation-img" src="/img/fsfe.png" alt="FSFE" title="Free Software Foundation Europe (volunteer)" /></a>

  <a href="http://www.fiff.de"><img class="affiliation-img" src="/img/fiff.jpg" alt="FIfF" title="Forum InformatikerInnen für Frieden und gesellschaftliche Verantwortung - Computer Scientists for Peace and Social Responsibility (sustaining member)" /></a>

  <a href="https://www.edri.org"><img class="affiliation-img" src="/img/edri.png" alt="EDRi" title="European Digital Rights (sustaining member)" /></a>

  <a href="https://digitalegesellschaft.de/"><img class="affiliation-img" src="/img/digiges.jpg" alt="Digitale Gesellschaft e.V." title="German association committed to civil rights and consumer protection in terms of internet policy (sustaining member)" /></a>
</p>

<div class="note">
    Feel free to connect with me at <a href="https://www.vutuv.de/users/bjoern.schiessle">Vutuv</a>, <a href="http://linkedin.com/in/schiessle">LinkedIn</a> or <a href="https://www.xing.com/profile/Bjoern_Schiessle">Xing</a>. But if you want to get in contact with me, the best way to do so is by <a href="/contact">e-mail</a>.
</div>

          </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
