{{ partial "head" . }}
  <body>
    <div id="wrap">
	{{ partial "header" . }}
      <section id="resume" class="static-page">
          <div class="container content">
	      <div class="portrait">
	      <img src="/img/profile.jpg" id="portrait" alt="portrait"/>
              </div>
	      <span class="headline p-name">Björn Schießle</span><br />
	      Computer Scientist (Dipl. Inf.), graduated at <a href="http://www.uni-stuttgart.de" title="University of Stuttgart, Germany">University of Stuttgart</a><br/>
              Co-founder and PreSales Lead at <a href="https://nextcloud.com">Nextcloud</a><br />
	      Active in the <a href="http://www.fsfe.org/about/basics/freesoftware">Free Software</a> movement for over 20 years<br />
	      <a href="http://www.fsfe.org" title="Free Software Foundation Europe">FSFE</a>'s coordinator <a href="https://fsfe.org/de/">Germany</a> and member of the General Assembly<br/>
<br />

<div class="clear"></div>

<p class="quote">
    <i>What you do makes a difference, and you have to decide what kind of
	difference you want to make.</i><cite>Jane Goodall</cite>
</p>

<div class="clear"></div>

<h1>Summary</h1>

<p>
  As a child science kits were always one of my favorite toys. This
  way I discovered already early in my life the world of biology,
  chemistry, electronics and other exiting stuff. I was always driven
  by the childlike curiosity to understand how things work instead of
  just using it. Today I'm still like that. That's probably also the
  reason why my first computer soon lead me down the rabbit hole in
  the world of programming and Free Software (aka Open Source).
</p>
<p>
  During my education and professional career I collected deep
  knowledge about programming and the design and architecture of
  software systems. After I graduated I joined the university as a
  researcher in the area of Cloud Robotics. During this time I learned
  a lot about academic research and writing and enjoyed the challenge
  to solve complex tasks. After University I joined ownCloud for four
  years before I co-founded Nextcloud. After almost seven years as a
  Software Engineer, designing and developing technologies like Cloud
  Federated or the Global Scale architecture I work now as a Sales
  Engineer. Using my deep technical knowledge about free,
  decentralized and open collaboration platforms, I strive for
  designing the best possible solutions for our customers.
</p>
<p>
  Being involved in the Free Software movement for over 20 years
  lead to a deep knowledge about Free Software, Open Standards and
  software licenses. Today I'm fascinated about how technology shapes
  our society and how society can shape technology. Free Software is
  not just a black-box people can use, instead it enables everyone to
  understand it and adapt it to their needs. In a world driven by
  technology this are important rights for individuals, organisations
  and big enterprises. I love to discuss this new possibilities,
  attend related trade shows and think about how Free Software can
  enable a business to grow and adapt to the future.
</p>
<p>
  If I look back at the end of a working day I want to have the
  feeling that I did something useful for my company, our customers
  and for the society as a whole. That's why I love working with
  people from all over the world in a open and collaborative
  environment, driven by Free Software and Open Standards.
</p>

<h1>Education</h1>
    
    <div class="company">University of Stuttgart</div>
    <div class="period">2010</div>
    <br />
    <div class="role">Diplom (equivalent to M.Sc.), Computer Science</div>


  
 <h1>Skills</h1>
 
 <ul class="skills">
   <li>Free Software / Open Source</li>
   <li>Software Licenses</li>
   <li>Software communities</li>
   <li>Free Software / Open Source business models</li>
   <li>Software Engineering</li>
   <li>Sales Engineering</li>
   <li>Cloud Computing</li>
   <li>API Design</li>
   <li>Distributed and Federated Systems</li>
   <li>Web Applications</li>
   <li>GNU/Linux</li>
   <li>presentation</li>
   <li>communication</li>
   <li>understand and explain complex technical systems/solutions</li>
   <li>listen</li>
   <li>problem solving</li>
   <li>solution finding</li>
   <li>leading international teams</li>
 </ul>
 
<h1>Experience</h1>

   <div class="company">Nextcloud GmbH</div>
   <div class="period">since 10/2020</div>
   <br />
   <div class="role">Co-Founder & Team Lead Pre-Sales</div>
   <br />
   <div class="description">
   <p>
   As the team lead of the pre-sales department I'm in charge of a growing and international team of Sales Engineers.
   In order to empower my team, I work closely together with all other departments (Engineering, Support, Product Management, Marketing and Sales) 
   to make sure that we have all the tools, knowledge and support necessary to be successful. </p><p>Success, as I define it, means happy and long lasting Nextcloud customers and users.
   As a powerful and flexible on-premises solution Nextcloud provides a lot of options, therefore it is crucial to understand all the possibilities and to create the right connection to your daily needs and work-flows.
   That's exactly where my team and I help people interested in our solution. Together with the prospect we develop the best possible architecture, helping them to integrate Nextcloud in their existing
   infrastructure and in the daily work of their employees, customers or end-users.    
   
   </p>
   </div>

   <br /><br />
      
   <div class="company">Nextcloud GmbH</div>
   <div class="period">1/2019 - 09/2020</div>
   <br />
   <div class="role">Co-Founder & Senior Sales Engineer</div>
   <br />
   <div class="description">
   <p>
       I use my experience of developing various components of
       Nextcloud for almost seven years to provide the best possible
       solutions for our customers. As a Sales Engineer I'm acting as
       a broker between the customer, sales and the engineering
       team. Working with our customers and partners, listen
       to their needs and design an architecture together with them
       which meets their requirements, well integrated in their existing infrastructure
       and workflows is my passion. I always aim for a system which is as complex as needed
       and as simple as possible. In case of custom development I oversee the whole process 
       from requirement analyses, feasibility study, project management until the final 
       solution is deployed at the customers side.
   </p>
   <p>
   <b>Responsibilities</b> of my daily work include but are not limited to: Product demos, requirement analysis, understand customer’s needs and develop
the right solution for them, running proof-of-concepts, writing SoW’s and
managing customer projects, presenting the product and company in front
of an international audience at conferences or webinars, work with
large companies and their representatives and decision makers, discuss legal/licensing topics with the customers legal department
if needed.
</p>
<p>
<b>Technologies an platforms</b> I get regularly in touch with as a Sales Engineer: Linux (Debian, Ubuntu,
SLES, RedHat, CentOS), Amazon AWS, Microsoft Azure, MariaDB/MySQL,
PostgreSQL, various storage solutions such as Amazon S3, OCT, CephFS,
NetApp, IBM COS, and identity management systems like Keycloak, ADFS, Okta,
Auth0, OneLogin.
</p>
   </div>

   <br /><br />

   <div class="company">Nextcloud GmbH</div>
   <div class="period">6/2016 - 12/2018</div>
   <br />
   <div class="role">Co-Founder & Senior Software Engineer</div>
   <br />
   <div class="description">
     Engaging with a globally distributed community, encourage them
     and help them to get involved is a vital part of my daily work in
     a company build around a healthy and diverse Free Software (aka
     Open Source) project.  As a senior software engineer I'm working
     on the server component of Nextcloud using object oriented PHP,
     JavaScript, HTML and CSS. During my time as a Software Engineer I
     developed the concept of Cloud Federation, a technology which
     enables a completely new way of collaboration in a free,
     distributed and open way without losing control over personal and
     sensitive data by connecting otherwise independent cloud
     servers. Further I was the principle architect of the Global
     Scale architecture, a architecture which allows you to scale
     Nextcloud to million of users by splitting the system up into
     many independent servers while maintaining a single-instance user
     experience. Beside that I serve as a Free Software and licensing
     expert at Nextcloud. All my work done at Nextcloud can be found
     at
     <a href="https://github.com/schiessle">GitHub</a>.
   </div>

<br /> <br />

   <div class="company">Founding Nextcloud GmbH</div>
   <div class="period">6/2016</div>
   <br />
   <div class="role">Co-Founder</div>
   <br />
   <div class="description">
     This was one of the most exciting time in my professional career.
     Together with nine colleagues and friend we founded the Nextcloud GmbH.
     A company providing a on-premises content collaboration platform, 100% Open Source.
     You can read here some of my thought back than, <a href="https://www.schiessle.org/articles/2016/05/26/road-ahead/">"Road Ahead"</a>
     and <a href="https://www.schiessle.org/articles/2016/06/15/freedom-for-whom/">"Freedom for whom?"</a>
   </div>

   <br /><br />
   
   <div class="company">ownCloud Inc.</div>
   <div class="period">6/2012 - 5/2016</div>
   <br />
   <div class="role">Senior Software Engineer</div>
   <br />
   <div class="description">
     My responsibilities include maintaining and expanding the core of ownCloud
     along with working with a globally distributed community of contributors
     using object oriented PHP, JavaScript, HTML and CSS. I'm the maintainer of
     various core modules including server-side encryption, deleted files,
     versioning and sharing. Most of my work done at ownCloud can be found
     at <a href="https://github.com/schiessle">GitHub</a>.
   </div>

   <br /><br />

   <div class="company">University of Stuttgart</div>
   <div class="period">2010 -5/2012</div>
   <br />
   <div class="role">Researcher</div>
   <br />
   <div class="description">
     Working at the RoboEarth project which is part of the Cognitive Systems and
     Robotics Initiative from the European Union Seventh Framework Programme
     FP7/2007-2013. Developing a distributed web-based platform which enables robots
     to share reusable knowledge about actions, objects and environments.
   </div>


<h1>Open Source Contributions</h1>

My <a href="https://github.com/schiessle">GitHub-profile</a> and <a href="https://www.openhub.net/accounts/BeS">OpenHub</a> gives a nice overview over my Free Software contributions, both as a volunteer and as a employee.


<h1>Voluntary Work</h1>

   <div class="company">Free Software Foundation Europe (FSFE)</div>
   <div class="period">since 8/2017</div>
   <br />
   <div class="role">Coordinator Germany (voluntary)</div>
   <br />
   <div class="description">
       Coordinate the activities of the German country team at
       FSFE. One of our main task is to promote Free Software to
       enable people to control the technology they use.  My main task
       is to support our team in its day to day work for Free Software,
       to make sure that they can achieve the best results
       possible. I visit trade shows regularly and give speeches about
       Free Software.
   </div>
   
   <br /><br />
   
   <div class="company">Free Software Foundation Europe (FSFE)</div>
   <div class="period">since 2006</div>
   <br />
   <div class="role">Member of the German Country Team, the European Core Team and the General Assembly (voluntary)</div>
   <br />
   <div class="description">
   Educate people about the political, social and economical
   implications of Free Software (Open Source) and Open Standards. I
   give talks at various trade shows and other events about Free
   Software and related topics. Occasionally I talk to political
   parties, their youth organizations and companies to advise them
   about Free Software and licensing. Since 2016 I'm a member of the
   General Assembly.
   </div>

   <br /><br />

   <div class="company">Free Software Foundation Europe (FSFE)</div>
   <div class="period">9/2015 - 7/2017</div>
   <br />
   <div class="role">Deputy Coordinator Germany (voluntary)</div>
   <br />
   <div class="description">
       Coordinate the activities of the German country team at FSFE to promote
       Free Software. This enables people to control the technology they use.
   </div>


<h1>Activities</h1>

<ul class="activities">
<li>
Jury Member of the <a href="http://hackathon.bz.it/">Vertical Innovation Hackathon</a> at the Souht Tyrol Free Software Conference 2017
</li>

<li>
Member of the organizing committee of the Autonomous Mobile Systems (AMS) 2012 in Stuttgart
</li>

<li>
Member of the RoboCup Team 1. RFC Stuttgart, Department Image Understanding (Institute of Parallel and Distributed Systems) at the University of Stuttgart, Germany (2008 - 2012)
</li>
</ul>

 <h1>Publications</h1>

<ul class="publications">

<li>
    <a href="https://www.linux-magazin.de/ausgaben/2019/10/fsfe-standpunkt/">Herausforderungen für Open-Source-Geschäftsmodelle</a> - Erschienen im Linux-Magazin 10/2019 - Freie Software gibt es seit über 30 Jahren. In dieser Zeit haben sich viele Geschäftsmodelle rund um freie Software herausgebildet und immer wieder verändert. Doch die vielleicht größte Herausforderung steht gerade jetzt an. Neben der Wissenschaft bezieht auch die FSFE dazu Stellung.
</li>

 <li>
 <a href="https://netzpolitik.org/2017/kommentar-die-abkehr-von-freier-und-unabhaengiger-software-in-muenchen-waere-falsch/">Die Abkehr von freier und unabhängiger Software in München wäre falsch</a> - Kommentar auf Netzpolitik.org (2017)
 </li>
 
<li>
    <a href="http://www.medien-in-die-schule.de/werkzeugkaesten/werkzeugkasten-freie-software/">Werkzeugkasten Freie Software</a> - Einführung in die Grundlagen
  Freier Software zusammen mit einer Sammlung von sinnvoller
  Software, mit der Unterricht in einem digitalen Zeitalter
  gestaltet werden kann. Autoren: Volker Grassmuck, Daniel
  Rohde-Kage, Björn Schießle, Stefan Schober, Sebastian Seitz,
  Wolf-Dieter Zimmermann (2016)
</li>

<li>
    <a href="https://netzpolitik.org/2016/software-heritage-erhalt-eines-kulturerbes/">Software Heritage – Erhalt eines Kulturerbes</a> - Gastbeitrag auf Netzpolitik.org (2016)
</li>

<li>
     <a href="https://netzpolitik.org/2015/10-jahre-sony-rootkit-ein-fragwuerdiges-jubilaeum/">10
    Jahre Sony Rootkit – ein fragwürdiges Jubiläum</a> - Gastbeitrag
     auf Netzpolitik.org (2015)
</li>

<li>
   <a href="https://netzpolitik.org/2015/user-data-manifesto-2-0/">User Data
       Manifesto 2.0</a> - Gastbeitrag auf Netzpolitik.org (2015)
</li>

<li>
  Defensive Publication: Cloud file syncing encryption system. Hugo
  Roy and Björn Schießle (2014)
</li>

<li>
  Freie Software – Ein wachsender Faktor in Wirtschaft und
  Gesellschaft. Erschienen im Handbuch der Unternehmensberatung, 2013, Band 2,
  Kennzahl 3410, Erich Schmidt Verlag
</li>

<li>
      <a href="https://fsfe.org/freesoftware/basics/comparison">Free Software,
	  Open Source, FOSS, FLOSS – Same same but different</a> - Article about the differences and history of the various terms used in the Free Software movement.
</li>

<li>
  Creating and using roboearth object models. CRA, pages 3549–3550,
  2012. Daniel Di Marco, Andreas Koch, Oliver Zweigle, Kai Häussermann, Björn
  Schiessle, Paul Levi, Dorian Gálvez-López, Luis Riazuelo, Javier Civera,
  J. M. M. Montiel, Moritz Tenorth, Alexander Clifford Perzylo, Markus Waibel,
  and René van de Molengraft
</li>

<li>
  Server-sided automatic map transformation in roboearth. AMS, pages 203–216,
  2012. Alexander Clifford Perzylo, Björn Schießle, Kai Häussermann, Oliver
  Zweigle, Paul Levi, and Alois Knoll.
</li>

<li>
  RoboEarth - A World Wide Web for Robots. IEEE Robotics and Automation
  Magazine (Special Issue Towards a WWW for Robots), 2011. Accepted - Waibel,
  M., Beetz, M., D’Andrea, R., Janssen, R., Tenorth, M., Civera, J., Elfring,
  J., Galvez-Lopez, D., Häussermann, K., Montiel, J.M.M., Perzylo, A.,
  Schießle, B., Zweigle, O., and van de Molengraft, R. (2011)
</li>

<li>
  Using Situation Analysis Techniques with Bayesian Networks for Recognizing
  Hardware Errors on Mobile Robots - Oliver Zweigle, Kai Häussermann, Björn
  Schiessle and Paul Levi (ICRA 2011)
</li>

</ul>

<h1>Affiliation</h1>

  <p id="affiliation">

  <a href="https://www.fsfe.org"><img class="affiliation-img" src="/img/fsfe.png" alt="FSFE" title="Free Software Foundation Europe (volunteer)" /></a>

  <a href="http://www.fiff.de"><img class="affiliation-img" src="/img/fiff.jpg" alt="FIfF" title="Forum InformatikerInnen für Frieden und gesellschaftliche Verantwortung - Computer Scientists for Peace and Social Responsibility (sustaining member)" /></a>

  <a href="https://www.edri.org"><img class="affiliation-img" src="/img/edri.png" alt="EDRi" title="European Digital Rights (sustaining member)" /></a>

  <a href="https://digitalegesellschaft.de/"><img class="affiliation-img" src="/img/digiges.jpg" alt="Digitale Gesellschaft e.V." title="German association committed to civil rights and consumer protection in terms of internet policy (sustaining member)" /></a>
</p>

<div class="note">
    Feel free to connect with me at <a href="https://www.vutuv.de/users/bjoern.schiessle">Vutuv</a>, <a href="http://linkedin.com/in/schiessle">LinkedIn</a> or <a href="https://www.xing.com/profile/Bjoern_Schiessle">Xing</a>. But if you want to get in contact with me, the best way to do so is by <a href="/contact">e-mail</a>.
</div>

          </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
